* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegador {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  align-items: center;
  padding: 2px;
}
.navegador ul {
  display: flex;
  list-style: none;
}
.navegador ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

.logo img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

.lista1 {
  display: flex;
}
.lista1 a:hover {
  color: grey;
}

.titulo-nosotros {
  clip: auto;
  background-size: cover;
  background-image: url(../paginas/multimedia/img/fabrica.jpg);
  background-size: 100% 100%;
}

.nosotros-orden {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.titulo-tienda {
  background-repeat: no-repeat;
  background-image: url(../paginas/multimedia/img/mueblescompras.jpg);
  background-size: 100% 100%;
  background-attachment: local;
}

.orden-tienda {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.titulo {
  text-align: center;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  object-fit: cover;
  font-size: 50px;
}

.titulo-contacto {
  background-size: cover;
  background-image: url(../paginas/multimedia/img/call\ center.jpg);
  background-size: 100% 100%;
}

.contacto-orden {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "mapa  info" "mapa sesion" "mapa  sesion";
  margin: 0;
  column-gap: 5px;
  row-gap: 5px;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 1100px) {
  .contacto-orden {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "info" "sesion" "mapa";
    margin: 0;
    column-gap: 5px;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
    padding: 10px;
  }
}

.link {
  font-size: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  object-position: bottom;
}

footer {
  display: flex;
  align-items: flex-start;
  background-color: bisque;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer h3 {
  margin: 10px;
  padding: 10px;
}

.pie-pagina {
  margin: 10px;
  flex-direction: column;
  padding: 10px;
}
.pie-pagina h4 {
  padding: 3px;
}

.pie-parrafo {
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.producto {
  width: 250px;
  border: 2px solid black;
  margin: 1%;
  padding: 5px;
  border-radius: 5px;
}
.producto button {
  opacity: 0;
}

.producto:hover button {
  opacity: 1;
  transition: 3s;
  width: 90%;
  padding: 5px;
  margin: 10px;
}

.producto-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

button {
  border: none;
  border-radius: 1px;
  margin: 5px;
  padding: 5px 20px;
  color: black;
  background-color: bisque;
}

.acomodar-caja {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.la-empresa {
  width: 600px;
  border: 4px solid rgb(140, 128, 114);
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  background-color: bisque;
}

.video-fabrica {
  width: 600px;
  margin: 30px;
  border-radius: 10px;
}

.mapa {
  grid-area: mapa;
}

.inicio-sesion {
  font-size: large;
  width: 350px;
  border: 2px solid black;
  border-radius: 5px;
  grid-area: sesion;
}

.info {
  border: 2px solid black;
  width: 350px;
  height: 100px;
  border-radius: 5px;
  grid-area: info;
}

.titulo-nosotros, .titulo-tienda, .titulo-contacto {
  height: 900px;
  text-align: center;
  background-position: center;
  object-fit: cover;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
