.titulo-nosotros{
    @extend %sizes;
    clip: auto;
    background-size: cover;
     background-image: url(../paginas/multimedia/img/creative-man-working-woodshop.jpg);
     background-size: 100% 100%;

     
}
.nosotros-orden{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    video{
        @media (max-width:768px){
            width: 80%;
        }
    }
}
.titulo-tienda{
    @extend %sizes;
    background-repeat: no-repeat;
    background-image:url(../paginas/multimedia/img/3d-rendering-business-meeting-working-room-office-building.jpg);
    background-size: 100% 100%;
    background-attachment: local;
}
.orden-tienda{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.titulo{
    text-align: center;
    background-size: cover;
     background-size: 100% 100%;
     background-position: center;
     object-fit: cover; 
     font-size: 50px;
}
.titulo-contacto{
    @extend %sizes;
    background-size: cover;
     background-image: url(../paginas/multimedia/img/empty-room-with-chairs-desks.jpg);
     background-size: 100% 100%;
    
}

.link{
    font-size: 60px;
    text-align: center;
    background: rgb(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    @media(max-width: 768px){
        font-size: 35px ;
    }
}
.carousel-item{
    width: 100%;
    height: 600px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    @media(max-width: 768px){
        height: 400px;
    }
    @media(max-width: 326px){
        height: 200px;
    }
   }